* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(242, 255, 240);
}

nav {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 10px 10px;
    margin: 0 20px 10px 20px;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 100px;
    font-family:'Courier New', Courier, monospace;
    margin: 30px 0;
}

.module {
    margin: 20px;
}

.module-descrip {
    text-align: justify;
    margin: 20px 0;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

table {
    border: 2px solid rgb(94, 204, 50);
    width: 1000;
}

thead {
    background-color: rgb(0, 255, 0);
}

td {
    border-top: 1px solid rgb(204, 50, 71);
}

.theading {
    font-weight: 800;
}

.property {
    width: 200px;
    text-align: center;
    font-style: italic;
}

